.form-container {
    max-width: 550px;
    margin: 50px auto;
    padding: 30px;
    background-color: #FEDCFF;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(171, 129, 214, 0.2);
  
    h2 {
      text-align: center;
      color: #AB81D6;
      margin-bottom: 24px;
      font-size: 1.8rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
  
      label {
        font-weight: 600;
        color: #4b227c;
        margin-bottom: 6px;
        display: block;
      }
  
      input, textarea {
        padding: 12px 14px;
        font-size: 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        background-color: #FFF9F9;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        width: 100%;
      }
  
      input:focus, textarea:focus {
        border-color: #AB81D6;
        outline: none;
        box-shadow: 0 0 6px #d3a8f2;
      }
  
      .error {
        color: red;
        font-size: 0.85rem;
        margin: 10px
      }
  
      button {
        margin-top: 10px;
        background-color: #AB81D6;
        color: white;
        padding: 12px;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
       
        transition: background-color 0.3s ease;
      }
  
      button:hover {
        background-color: #8e5cbf;
      }
  
      button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  